*  {border: solid;  
    border-color:purple;   }
    a{font-style: italic;}
    *{ background-image: url('Images/bkgG.jpg' ) ;}
    
    
    .header{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: blue;
        text-align: center;
    }
    
    .menu{
        display: flex;
        flex-wrap: wrap;
    justify-content: center;
    
    }
    
    body{
       
        width:displayWidth;
        height:displayHeight;
        background-color: fuchsia;
    }

    .info h1{
        color: red;
        display: flex;
        justify-content: space-between;
        margin-left: 500px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 70px;
        
    }

    .info h2{
        color: darkorange;
    }